* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    min-height:100vh;
    height: 100%;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)) ,url(img.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 550px;


    border-radius: 15px;
    padding: 40px 30px;
    text-align: left;
    box-shadow: 9px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    color: #0a0634;
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}
ul {
    list-style: none;
    width: 100%;
    max-width: 400px;
}
li {
    margin-top: 5px;
    font-size: 1.6rem;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0a0634;
    color:#fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
label {
    color: #0a0634;
    font-weight: 600;
    margin: 6px 0;
    font-size: 1.6rem;
}
input {
    border: 1px solid #0a0634;
    font-size: 1.8rem;
    padding: 5px 10px;
    outline: none;
}
.formulario {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error-text {
    color: red;
    font-size:1.2rem;
    margin-top: 3px;
}

@media (max-width: 600px) {
    html {
        font-size:55%;
    }
}